/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  padding: 5px 0;
  position: fixed;
  top: 0;
  width: 100%; }
  header .header-left {
    display: flex;
    align-items: center;
    margin-left: 50px; }
  header .header-right {
    display: flex;
    align-items: center;
    margin-right: 50px; }
    header .header-right li {
      margin-right: 20px; }
      header .header-right li:last-child {
        margin-right: 0; }

main {
  margin-top: 30px; }
  main .introduce {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 50px; }
  main .skil {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-between; }
  main .skil li {
    height: 300px;
    width: 150px;
    display: inline-block; }
  main .skil li img {
    margin-top: 60px;
    height: 150px;
    width: 150px; }
  main .portfolio {
    background-color: #000;
    color: #fff; }
  main .contact {
    background-color: #fff;
    color: #000; }

.skillIntroduce {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: fantasy;
  margin-top: 100px; }

.skillContainer {
  height: 650px;
  display: flex;
  justify-content: center; }

.textSkill {
  font-size: 20px;
  font-family: fantasy;
  font-weight: bold;
  display: flex;
  width: 350px;
  height: 350px;
  box-shadow: 5px 5px 10px darkgray;
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 150px; }

.picture img {
  width: 250px;
  height: 250px;
  margin-top: 50px; }

.picture {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 350px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px darkgray;
  margin-top: 50px; }

footer {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  padding: 5px 0;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  width: 100%; }
  footer .copyright {
    text-align: right;
    margin-right: 50px; }
