@import "foundation/_reset.scss";

$baseColor:#fff;
$base1Color:#000 ;

header{
  display: flex;
	justify-content: space-between;
	background-color: #000;
	color: #fff;
	font-size: 20px;
	padding: 5px 0;
	position: fixed;
	top: 0;
	width: 100%;
  .header-left{
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  .header-right{
  	display: flex;
  	align-items: center;
  	margin-right: 50px;
  	li{
  		margin-right: 20px;
  		&:last-child{
  			margin-right: 0;
  		}
  	}
  }
}

main{
	margin-top: 30px;
	.introduce{
		text-align: center;
		background-color: $base1Color;
        color: $baseColor;
		font-size: 50px;
	}
	.skil{
		background-color: $baseColor;
		color: $base1Color;
    display: flex;
    justify-content: space-between;
	}

    .skil li {
    height: 300px;
    width: 150px;
    display: inline-block;
  }
    .skil li img {
      margin-top: 80px;
      height: 120px;
      width: 120px;
    }

	.portfolio{
	    display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
	    background-color: $base1Color;
        color: $baseColor;
        img{
        	margin: 20px;
        	height: 300px;
        	width: 300px;
        }
	}
	.contact{
		background-color: $baseColor;
		color: $base1Color;
	}

}

// skill.html

// 変数使ってみた
$takasa: 500px;


.skillIntroduce {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: fantasy;
  margin-top: 100px;
}

.skillContainer {
  height: $takasa;
  display: flex;
  justify-content: center;
}

// mixin使ってみた

@mixin text($color: black, $font-size: 20px, $width: 350px, $height: 350px) {
  font-size: $font-size;
  width: $width;
  height: $height;
}

.textSkill {
  @include text();
  // font-size: 20px;
  font-family: fantasy;
  font-weight: bold;
  display: flex;
  // width: 350px;
  // height: 350px;
  box-shadow: 5px 5px 10px darkgray;
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 150px;
}

.picture img {
  width: 250px;
  height: 250px;
  margin-top: 50px;
}

.picture {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 350px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px darkgray;
  margin-top: 50px;
}

// extend使ってみた
.btn {
  display: flex;
  justify-content: center;
  position: relative;
    // &使ってみた
  &:hover {
    opacity: 1;
  }
}

.btn .active {
  @extend .btn;
  position: absolute;
  opacity: 0;
  transition: .5s;
  margin-top: -135px;
}


.btn img {
  border: 2px solid darkgray;
  border-radius: 50px;
  background-color: black;
  width: 100px;
  height:100px;
  margin-bottom: 30px;
}


// skill.htmlここまで

footer{
	background-color: #000;
	color: #fff;
	font-size: 20px;
	padding: 5px 0;
	border-top: 2px solid #fff;
	box-sizing: border-box;
	width: 100%;
	.copyright{
		text-align: right;
		margin-right: 50px;
	}
}