@import "foundation/_reset.scss";

$baseColor:#fff;
$base1Color:#000 ;

header{
  display: flex;
	justify-content: space-between;
	background-color: #000;
	color: #fff;
	font-size: 20px;
	padding: 5px 0;
	position: fixed;
	top: 0;
	width: 100%;
  .header-left{
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  .header-right{
  	display: flex;
  	align-items: center;
  	margin-right: 50px;
  	li{
  		margin-right: 20px;
  		&:last-child{
  			margin-right: 0;
  		}
  	}
  }
}

main{
	margin-top: 30px;
	.introduce{
		text-align: center;
		background-color: $base1Color;
        color: $baseColor;
		font-size: 50px;
	}
	.skil{
		background-color: $baseColor;
		color: $base1Color;
    display: flex;
    justify-content: space-between;
	}

    .skil li {
    height: 300px;
    width: 150px;
    display: inline-block;
  }
    .skil li img {
      margin-top: 60px;
      height: 150px;
      width: 150px;
    }

	.portfolio{
		background-color: $base1Color;
        color: $baseColor;
	}
	.contact{
		background-color: $baseColor;
		color: $base1Color;
	}
}

// skill.html
.skillIntroduce {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: fantasy;
  margin-top: 100px;
}

.skillContainer {
  height: 650px;
  display: flex;
  justify-content: center;
}

.textSkill {
  font-size: 20px;
  font-family: fantasy;
  font-weight: bold;
  display: flex;
  width: 350px;
  height: 350px;
  box-shadow: 5px 5px 10px darkgray;
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 150px;
}

.picture img {
  width: 250px;
  height: 250px;
  margin-top: 50px;
}

.picture {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 350px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px darkgray;
  margin-top: 50px;
}

// skill.htmlここまで

footer{
	background-color: #000;
	color: #fff;
	font-size: 20px;
	padding: 5px 0;
	border-top: 2px solid #fff;
	box-sizing: border-box;
	width: 100%;
	.copyright{
		text-align: right;
		margin-right: 50px;
	}
}