@import "foundation/_reset.scss";

$baseColor:#fff;
$base1Color:#000 ;

header{
	display: flex;
	justify-content: space-between;
	background-color: #000;
	color: #fff;
	font-size: 20px;
	padding: 5px 0;
	position: fixed;
	top: 0;
	width: 100%;
  .header-left{
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  .header-right{
  	display: flex;
  	align-items: center;
  	margin-right: 50px;
  	li{
  		margin-right: 20px;
  		&:last-child{
  			margin-right: 0;
  		}
  	}
  }	
}

main{
	margin-top: 30px;
	.introduce{
		background-color: $base1Color;
        color: $baseColor;
		font-size: 50px;
	}
	.skil{
		background-color: $baseColor;
		color: $base1Color;
	}

    .skil li {
    height: 300px;
    width: 150px;
    display: inline-block;
  }
    .skil li img {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      height: 150px;
      width: 150px;
    }

	.portfolio{
		background-color: $base1Color;
        color: $baseColor;
	    height: 200px;
	}
	.contact{
		background-color: $baseColor;
		color: $base1Color;
		height: 200px;
		background-color: #000;
	}
}
footer{
	background-color: #000;
	color: #fff;
	font-size: 20px;
	padding: 5px 0;
	border-top: 2px solid #fff;
	box-sizing: border-box;

	width: 100%;
	.copyright{
		text-align: right;
		margin-right: 50px;
	}
}